#active-game {
  text-align: center;
  margin: 2rem 0 5rem 0;
  /* display: none; */
}

#game-over {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  padding: 1rem 2rem;
  background-color: var(--accent-color);
  color: var(--primary-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: none;
}

#game-over h2 {
  margin: 0;
  font-size: 1.5rem;
}

#game-over button {
  margin-top: 1rem;
}

#active-player-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--accent-color);
}

#game-board {
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
  justify-content: center;

  gap: 0.5rem;
}

#game-board li {
  background-color: var(--primary-color);
  border-radius: 2px;
  cursor: pointer;
  color: var(--accent-color);
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-weight: bold;
}

#game-board li:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
  transition: all 0.3s ease;
}

#game-board li.disabled {
  background-color: var(--accent-color);
  color: var(--primary-color);
  cursor: default;
  pointer-events: none;
}

#game-restart {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: var(--primary-color);
  display: block; /* Ensure it's block-level */
  width: calc(80% - 20rem);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  display: none;
}

#game-restart h2 {
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

.restart-btns {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin-top: 1rem;
}
