/* google font ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* common styles */
/* Reset Line */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

/* variables color */
:root {
  --primary-color: #f8ee00;
  --secondary-color: #2d3048;
  --accent-color: #1995ad;
  --background-color: #1e1f2b;
  --text-color: #fcc707;
  --color-fancy-blue: #3f418d;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end of common styles */

/* header styles */
#main-header {
  background-color: var(--secondary-color);
  padding: 2rem 5%;
  text-align: center;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 700;
}
#main-header img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  border-radius: 6px;
  box-shadow: 0 4px 10px var(--accent-color);
  margin-bottom: 0.3rem;
}

#main-header h1 {
  font-size: 3rem;
}

#main-header p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

/* end of header style */
